* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTION ONE */

/* SECTION TWO */

/* SECTION THREE */

/* SECTION FOUR */
 
body{
  background-color: black;
}

.arrow-pointer {
  width: 70px;
  height: 30px;
  background: black;
  position: relative;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif

  
}

.arrow-pointer:after {
    content: '';
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid black;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .arrow-pointer:before {
    content: '';
    position: absolute;
    right: -15px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid black;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

/* .container .progress1 div{
    width: 100%;
    height: 20%;
} */

.container{
  /* background-color: white; */
  height: 60%;
  width: 100%;
  position: relative;
}
/* ----------title --------*/

.container .title{
  text-align: center;
  font-size: 15px;
  color: gray;
}

.container .title div{
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
}

/* ---------first image---------  */

.container .conn1 .image1 img{
  width: 300px;
  height: 250px;
  top: 220px;
  opacity: 80%;
  left: 20px;
  border-radius: 30px;
  position: absolute;
  z-index: -1;

}

/* ---------first text---------  */

.container .conn1 .text1{
  width: 200px;
  color: gray;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 70px;


}
.container .conn1 .text1 .span{

  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;

}

/* ---------first Hero name ---------  */

.container .conn1 .one{
  position: absolute;
  top:410px;
  left: 120px;
  width: 100px;
  font-size: 17px;
  height: 30px;
 }

 /* ---------first Hero cancel ---------  */

.container .conn1 .left1 img{
  width: 18px;
}


.container .conn1 .left1{
    position: absolute;
    top: 420px;
    width: 18px;
    left: 70px;
    text-align: center;
    color: white;
    font-size: 20px;
    
}

/* ---------first Hero life ---------  */

.container .conn1 .right1 img{
  width: 30px;
}

.container .conn1 .right1{
    position: absolute;
    top: 420px;
    width: 20px;
    text-align: right;
    left: 250px;
    color: white;
}


/* ---------second image---------  */

.container .conn2 .image2 img{
  width: 300px;
  height: 250px;
  top: 220px;
  left: 350px;
  opacity: 80%;
  border-radius: 30px;
  position: absolute;
  z-index: -1;

}

/* ---------second text---------  */

.container .conn2 .text2{
  width: 200px;
  color: gray;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 400px;


}
.container .conn2 .text2 .span{

  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;

}

/* ---------second Hero name ---------  */

.container .conn2 .two{
  position: absolute;
  top: 410px;
  left: 450px;
  width: 100px;
  font-size: 17px;
  height: 30px;
 }

 /* ---------second Hero cancel ---------  */

.container .conn2 .left2 img{
  width: 18px;
}


.container .conn2 .left2{
    position: absolute;
    top: 420px;
    width: 20px;
    left: 400px;
    color: white;
    text-align: center;
}

/* ---------second Hero life ---------  */

.container .conn2 .right2 img{
  width: 30px;
}

.container .conn2 .right2{
    position: absolute;
    top: 420px;
    width: 20px;
    left: 580px;
    color: white;
    text-align: right;
  
}

/* ---------third image---------  */

.container .conn3 .image3 img{
  width: 300px;
  height: 250px;
  top: 220px;
  left: 690px;
  opacity: 80%;
  border-radius: 30px;
  position: absolute;
  z-index: -1;

}

/* ---------third text---------  */

.container .conn3 .text3{
  width: 200px;
  color: gray;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 760px;


}
.container .conn3 .text3 .span{

  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;

}

/* ---------third Hero name ---------  */

.container .conn3 .three{
  position: absolute;
  top: 410px;
  left: 810px;
  width: 100px;
  font-size: 17px;
  height: 30px;
 }

 /* ---------third Hero cancel ---------  */

.container .conn3 .left3 img{
  width: 18px;
}


.container .conn3 .left3{
    position: absolute;
    top: 420px;
    width: 20px;
    color: white;
    left: 740px;
    text-align: center;
}

/* ---------third Hero life ---------  */

.container .conn3 .right3 img{
  width: 30px;
}

.container .conn3 .right3{
    position: absolute;
    top: 420px;
    width: 20px;
    color: white;
    left: 945px;
    text-align: right;
}


/* ---------fourth image---------  */

.container .conn4 .image4 img{
  width: 300px;
  height: 250px;
  top: 220px;
  left: 1030px;
  opacity: 80%;
  border-radius: 30px;
  position: absolute;
  z-index: -1;

}

/* ---------fourth text---------  */

.container .conn4 .text4{
  width: 200px;
  color: gray;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 320px;
  left: 1080px;


}

.container .conn4 .text4 .span{

  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;

}

/* ---------fourth Hero name ---------  */

.container .conn4 .four{
  position: absolute;
  top:410px;
  left: 1130px;
  width: 100px;
  font-size: 17px;
  height: 30px;
 }

 /* ---------fourth Hero cancel ---------  */

.container .conn4 .left4 img{
  width: 18px;
}


.container .conn4 .left4{
    position: absolute;
    top: 420px;
    width: 20px;
    color: white;
    left: 1070px;
    text-align: center;
}

/* ---------fourth Hero life ---------  */

.container .conn4 .right4 img{
  width: 30px;
}

.container .conn4 .right4{
    position: absolute;
    top: 420px;
    width: 20px;
    color: white;
    left: 1270px;
    text-align: right;
}

/* ---------fifth image---------  */

.container .conn5 .image5 img{
  width: 300px;
  height: 250px;
  top: 500px;
  border-radius: 30px;
  position: absolute;
  z-index: -1;
  opacity: 80%;
  left: 20px;


}

/* ---------fifth text---------  */

.container .conn5 .text5{
  width: 200px;
  color: gray;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 620px;
  left: 80px;


}
.container .conn5 .text5 .span{

  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;

}

/* ---------fifth Hero name ---------  */

.container .conn5 .five{
  position: absolute;
  top: 700px;
  left: 120px;
  width: 100px;
  font-size: 17px;
  height: 30px;
 }

 /* ---------fifth Hero cancel ---------  */

.container .conn5 .left5 img{
  width: 18px;
}


.container .conn5 .left5{
  position: absolute;
  top: 710px;
  width: 20px;
  text-align: center;
  left: 60px;
  color: white;
}

/* ---------fifth Hero life ---------  */

.container .conn5 .right5 img{
width: 30px;
}

.container .conn5 .right5{
  position: absolute;
  top: 705px;
  width: 20px;
  color: white;
  text-align: right;
  left: 250px;
}



/* ---------sixth image---------  */

.container .conn6 .image6 img{
  width: 300px;
  height: 250px;
  top: 500px;
  left: 350px;
  opacity: 80%;
  border-radius: 30px;
  position: absolute;
  z-index: -1;

}

/* ---------sixth text---------  */

.container .conn6 .text6{
  width: 200px;
  color: gray;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 620px;
  left: 405px;


}
.container .conn6 .text6 .span{

  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;

}

/* ---------sixth Hero name ---------  */

.container .conn6 .six{
  position: absolute;
  top: 699px;
  left: 455px;
  width: 100px;
  font-size: 17px;
  height: 30px;
 }

 /* ---------sixth Hero cancel ---------  */

.container .conn6 .left6 img{
  width: 18px;
}


.container .conn6 .left6{
    position: absolute;
    top: 710px;
    width: 20px;
    color: white;
    left: 400px;
    text-align: center;
}

/* ---------sixth Hero life ---------  */

.container .conn6 .right6 img{
  width: 30px;
}

.container .conn6 .right6{
    position: absolute;
    top: 705px;
    width: 20px;
    color: white;
    left: 590px;
    text-align: right;
  
}

/* ---------seventh image---------  */

.container .conn7 .image7 img{
  width: 300px;
  height: 250px;
  top: 500px;
  left: 700px;
  opacity: 80%;
  border-radius: 30px;
  position: absolute;
  z-index: -1;

}

/* ---------seventh text---------  */

.container .conn7 .text7{
  width: 200px;
  color: gray;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 620px;
  left: 760px;


}
.container .conn7 .text7 .span{

  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;

}

/* ---------seventh Hero name ---------  */

.container .conn7 .seven{
  position: absolute;
  top: 700px;
  left: 810px;
  width: 100px;
  font-size: 17px;
  height: 30px;
 }

 /* ---------seventh Hero cancel ---------  */

.container .conn7 .left7 img{
  width: 18px;
}


.container .conn7 .left7{
    position: absolute;
    top: 710px;
    width: 20px;
    left: 750px;
    color: white;
    text-align: center;
}

/* ---------seventh Hero life ---------  */

.container .conn7 .right7 img{
  width: 30px;
}

.container .conn7 .right7{
    position: absolute;
    top: 705px;
    width: 20px;
    color: white;
    left: 950px;
    text-align: right;
}


/* ---------eight image---------  */

.container .conn8 .image8 img{
  width: 300px;
  height: 250px;
  top: 500px;
  left: 1030px;
  opacity: 80%;
  border-radius: 30px;
  position: absolute;
  z-index: -1;

}

/* ---------eight text---------  */

.container .conn8 .text8{
  width: 200px;
  color: gray;
  font-size: 13px;
  text-align: center;
  position: absolute;
  top: 620px;
  left: 1090px;

}

.container .conn8 .text8 .span{

  margin-bottom: 5px;
  font-size: 20px;
  color: white;
  text-align: center;

}

/* ---------eight Hero name ---------  */

.container .conn8 .eight{
  position: absolute;
  top: 700px;
  left: 1140px;
  width: 100px;
  font-size: 17px;
  height: 30px;
 }

 /* ---------eight Hero cancel ---------  */

.container .conn8 .left8 img{
  width: 18px;
}


.container .conn8 .left8{
    position: absolute;
    top: 710px;
    width: 20px;
    color: white;
    left: 1080px;
    text-align: center;
}

/* ---------eight Hero life ---------  */

.container .conn8 .right8 img{
  width: 30px;
  
  
}
.container .conn8 .right8 {
  position: absolute;
    top: 705px;
    width: 20px;
    color: white;
    left: 1270px;
    text-align: right;
  
}


/* SECTION FIVE */

/* SECTION SIX */





